---
import Layout from "../layouts/Layout.astro";
import MailForm from "../components/MailForm.astro";
import QuesionItem from "../components/QuesionItem.astro";
import CaseItem from "../components/CaseItem.astro";
import StepItem from "../components/StepItem.astro";
import ContactButton from "../components/ContactButton.astro";
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
import logo_sp from "../assets/logo_sp.png";
import kokuho from "../assets/bnn_kokuho_s.jpg";
import shaho from "../assets/bnn_shaho_s.jpg";
import yakuin from "../assets/bnn_yakuin_s.jpg";
import contact02_tel_pc from "../assets/contact02_tel_pc.png";
import offer_01_pc from "../assets/offer_01_pc.png";
import head_tel_pc from "../assets/head_tel_pc.png";
import head_tel_sp from "../assets/head_tel_sp.png";
import head_email_sp from "../assets/head_email_sp.png";
import person01 from "../assets/person01.png";
import person02 from "../assets/person02.png";
import arrow from "../assets/arrow.png";
import lead_check_sp from "../assets/lead_check_sp.png";
---

<Layout title="国保と国民年金の保険料を節減  ライフコンサルタント株式会社">
	<main class="flex flex-col justify-center mb-10 items-center w-full">
		<div class="w-full md:px-20 lg:px-60 pt-2">
			<!-- 通常ヘッダー -->
			<div class="justify-between hidden md:flex">
				<div class="flex items-center">
					<Image src={logo} alt="説明文" width="250" class="" />
				</div>
				<div class="flex text-black text-xs font-bold items-center">
					ご相談は無料です<br />まずは<br />お問い合わせください
				</div>
				<div>
					<Image src={head_tel_pc} alt="説明文" width="200" />
				</div>
				<div class="flex items-center w-[180px]">
					<button
						type="button"
						class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-10 py-2.5 text-center"
						>WEBからご予約</button
					>
				</div>
			</div>
			<!-- モバイルヘッダー -->
			<div class="flex justify-between md:hidden px-5 my-5">
				<Image src={logo_sp} alt="説明文" width="305" />
				<div>
					<Image src={head_tel_sp} alt="説明文" width="46" />
				</div>
				<div>
					<Image src={head_email_sp} alt="説明文" width="56" />
				</div>
			</div>
			<!-- Top -->
			<div class="flex flex-col items-center px-3">
				<div class="bg-white text-red-500 font-bold text-xl px-3 py-2">
					個人事業主(フリーランス)の方、必見!
				</div>
				<div class="flex justify-center mt-5">
					<div>
						<div class="font-bold text-3xl">社会保険料が</div>
						<div
							class="text-4xl font-black logo_background_white w-[270px]"
						>
							<span class="text-8xl font-black mt-0">30</span
							>％/年 以上
						</div>
						<div
							class="text-4xl font-bold tracking-[-2px] logo_background_white mb-5"
						>
							安くなります！
						</div>
					</div>
					<div class="flex items-end">
						<Image src={person01} alt="説明文" width={300} />
					</div>
				</div>
				<ContactButton />
			</div>
			<!-- 不安 -->
			<div class="pt-5 bg-white flex flex-col items-center text-xl">
				<div class="text-[#008F8F] font-bold">Any troubles? Problems?</div>
				<div class="text-center text-[#BA2644] font-bold text-4xl mb-3">
					こんな悩みや不安は<br />ありませんか？
				</div>
				<ul class="font-bold leading-8">
					<div class="flex items-center">
						<div>
							<Image
								src={lead_check_sp}
								alt="説明文"
								height="24"
							/>
						</div>高い社会保険料を払いたくない
					</div>

					<div class="flex items-center">
						<div>
							<Image
								src={lead_check_sp}
								alt="説明文"
								height="24"
							/>
						</div>老後の生活資金が不安
					</div>

					<div class="flex items-center">
						<div>
							<Image
								src={lead_check_sp}
								alt="説明文"
								height="24"
							/>
						</div>節約して手元資金を最大化したい
					</div>

					<div class="flex items-center">
						<div>
							<Image
								src={lead_check_sp}
								alt="説明文"
								height="24"
							/>
						</div>子供の教育費が不安
					</div>

					<div class="flex">
						<div class="mt-1">
							<Image
								src={lead_check_sp}
								alt="説明文"
								height="24"
							/>
						</div>
						<div>社会保険労務士･税理士に<br>相談しても解決しない</div>
						<div>
							<Image src={person02} alt="説明文" width={50} />
						</div>
					</div>
				</ul>
				<!-- Tableサンプル -->
				<div class="px-5 flex flex-col items-center bg-white py-5">
					<div class="flex flex-col md:flex-row items-center">
						<div
							class="flex-1 text-2xl font-bold text-[#008F8F] border-b-2 md:border-b-0 border-[#008F8F] text-center"
						>
							年間30％以上も安くなる<br />
							「社保コンパクトプラン」とは
						</div>
						<div class="flex-1 font-bold">
							「社保コンパクトプラン」を取り入れていただくことで、社会保険料を<span
								class="text-red-500">年間30％以上</span
							>も節減することができます。<br /><br />
							ご負担は、社会保険料節減開始月から<span
								class="text-red-500"
								>2ヶ年分の社会保険料節減効果額(会社及び役員)の20％(税別)</span
							>。<br /><br />
							その後も効果は続きますが、ご負担は発生しません。<div
								class="text-xs"
							>
								※対象者年齢や諸条件により節減効果は一定ではありません。
							</div>
						</div>
					</div>
					<div class="h-1.5 bg-[#008F8F] w-full"></div>
					<Image src={arrow} alt="説明文" width="36" />
					<div class="font-black text-xl text-center py-5">
						あなたの報酬が高いほど、<br />社会保険料が安くなります。
					</div>
					<div
						class="w-full bg-[#008F8F] text-white text-center py-1 md:w-[600px]"
					>
						導入後のシミュレーション
					</div>
					<div
						class="rounded-lg border-4 border-[#008F8F] my-2 w-full md:w-[600px]"
					>
						<table class="w-full text-base md:text-lg">
							<thead class="table-auto">
								<tr class="rounded-lg text-[#008F8F]">
									<th
										class="border-b-2 border-r-2 border-[#008F8F]"
										>あなたの報酬<br
											class="md:hidden"
										/>(月額)</th
									>
									<th
										class="border-b-2 border-r-2 border-[#008F8F]"
										>社会保険料<br
											class="md:hidden"
										/>（年間）</th
									>
									<th
										class="border-b-2 border-r-2 border-[#008F8F]"
										>節減差額<br
											class="md:hidden"
										/>（合計）</th
									>
									<th class="border-b-2 border-[#008F8F]"
										>節減率</th
									>
								</tr>
							</thead>
							<tbody class="text-right font-bold">
								<tr>
									<td
										class="border-r-2 border-b-2 border-[#008F8F]"
										>30万円</td
									>
									<td
										class="border-r-2 border-b-2 border-[#008F8F]"
										>1,083,600円</td
									>
									<td
										class="border-r-2 border-b-2 border-[#008F8F] text-red-500"
										>-361,200円</td
									>
									<td
										class="border-b-2 border-[#008F8F] text-red-500"
										>-33.3％</td
									>
								</tr>
								<tr>
									<td
										class="border-r-2 border-b-2 border-[#008F8F]"
										>50万円</td
									>
									<td
										class="border-r-2 border-b-2 border-[#008F8F]"
										>1,806,000円</td
									>
									<td
										class="border-r-2 border-b-2 border-[#008F8F] text-red-500"
										>-794,640円</td
									>
									<td
										class="border-b-2 border-[#008F8F] text-red-500"
										>-44.0％</td
									>
								</tr>
								<tr>
									<td
										class="border-r-2 border-b-2 border-[#008F8F]"
										>80万円</td
									>
									<td
										class="border-r-2 border-b-2 border-[#008F8F]"
										>2,480,160円</td
									>
									<td
										class="border-r-2 border-b-2 border-[#008F8F] text-red-500"
										>-1,257,684円</td
									>
									<td
										class="border-b-2 border-[#008F8F] text-red-500"
										>-50.7％</td
									>
								</tr>
								<tr>
									<td
										class="border-r-2 border-b-2 border-[#008F8F]"
										>100万円</td
									>
									<td
										class="border-r-2 border-b-2 border-[#008F8F]"
										>2,749,200円</td
									>
									<td
										class="border-r-2 border-b-2 border-[#008F8F] text-red-500"
										>-1,523,184円</td
									>
									<td
										class="border-b-2 border-[#008F8F] text-red-500"
										>-55.4％</td
									>
								</tr>
								<tr>
									<td class="border-r-2 border-[#008F8F]"
										>120万円</td
									>
									<td class="border-r-2 border-[#008F8F]"
										>3,074,880円</td
									>
									<td
										class="border-r-2 border-[#008F8F] text-red-500"
										>-1,848,864円</td
									>
									<td class="text-red-500">-60.1％</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<!-- ７つの理由 -->
				<div class="bg-[#0488AF] py-5">
					<div class="text-white text-xl font-bold text-center">
						私たちの<br />
						「社保コンパクトプラン」が選ばれる<br
							class="md:hidden"
						/>７つの理由
					</div>
					<div
						class="px-5 py-10 flex flex-col md:flex-row md:justify-center md:flex-wrap gap-5"
					>
						<div
							class="rounded bg-white w-full md:w-[250px] h-[100px] md:h-[150px] flex md:flex-col items-center py-3"
						>
							<div
								class="text-4xl md:text-3xl font-bold text-[#E6555F] px-5"
							>
								1
							</div>
							<div
								class="text-2xl md:text-lg font-bold md:text-center mt-1 md:px-4"
							>
								国民健康保険＋国民年金の保険料が最大93万円/年安くなります。
							</div>
						</div>
						<div
							class="rounded bg-white w-full md:w-[250px] h-[100px] md:h-[150px] flex md:flex-col items-center py-3"
						>
							<div
								class="text-4xl md:text-3xl font-bold text-[#E6555F] px-5"
							>
								1
							</div>
							<div
								class="text-2xl md:text-lg font-bold md:text-center mt-1 md:px-4"
							>
								国民健康保険＋国民年金の保険料が最大93万円/年安くなります。
							</div>
						</div>
					</div>
					<div
						class="text-white text-left md:text-center text-2xl md:text-sm px-5 leading-9 comment"
					>
						この「社保コンパクトプラン」は、<br
							class="md:hidden"
						/>小手先のテクニックで目先の固定費を節減するだけではありません。<br
						/>
						真の目的は経営のために個人の手取りを増やし、資金を最大化すること。<br
						/>
						すなわち財務の健全化なのです。<br /><br />
						私たちは常に向上心と情熱を持ち続ける自営業主様を全力で応援します。<br
						/>
						今のまま高額な保険料を納付し続けるか、<br
							class="md:hidden"
						/>もしくは合法的に節減するのか、是非、無料相談にお申込みください。
					</div>
					<ContactButton />
				</div>
				<div class="bg-blue-500 px-5 py-10 flex flex-col items-center">
					<div>
						この国社スマートプランをご利用のお客様から、たくさんの嬉しいお声をいただいています。その一部をご紹介します。
					</div>
					<div class="w-full flex gap-5 flex-wrap justify-center">
						<CaseItem caseNo="01" title="" subtitle="" text="" />
						<CaseItem caseNo="02" title="" subtitle="" text="" />
						<CaseItem caseNo="03" title="" subtitle="" text="" />
					</div>

					<ContactButton />
				</div>
				<div class="bg-[#FFD519] px-5 py-10">
					<div class="font-black text-center text-xl leading-[50px]">
						国民健康保険＋国民年金の<br />保険料節減までの流れ
					</div>
					<div class="flex flex-col md:flex-row gap-5 items-center">
						<StepItem stepNo="01" />
						<div class="triangle-down md:hidden"></div>
						<div class="triangle-right hidden md:block w-40"></div>
						<StepItem stepNo="01">無料相談のお申し込み</StepItem>
					</div>
				</div>
				<div class="flex flex-col py-10 items-center px-5">
					<div class="text-5xl font-black text-[#0088af] py-2">
						費用について
					</div>
					<div class="text-xl font-bold">お客様の負担額は</div>
					<div class="text-2xl font-bold text-[#E5555F] my-1">
						約<span class="text-7xl">38,000</span>円/月
					</div>
					<div class="font-bold text-xl mt-5">のみです。</div>
					<div class="text-2xl">
						上記負担額には、お客様ご自身とご家族の保険料や当社事務手数料など全て含まれています。
					</div>
					<ul
						class="text-xl font-bold md:w-[230px] leading-[40px] mt-4"
					>
						<li>導入時の契約金、導入手数料は不要！</li>
						<li>導入後の維持管理料、更新手数料は不要！</li>
						<li>解約費用、退会手数料は不要！</li>
					</ul>

					<ContactButton />
				</div>
				<div
					class="border-[5px] border-[#0588AF] rounded-md py-10 px-10 mx-5"
				>
					<div class="text-[#0088af] font-black text-center text-3xl">
						よくあるご質問
					</div>
					<QuesionItem
						question="法的に問題はありませんか"
						anser="はい、全く問題ありません。各管轄省庁から全て回答を得て、通達に沿った方策ですので、心配ご無用です。"
					/>
				</div>
				<div class="flex flex-col items-center">
					<Image
						src={offer_01_pc}
						alt="説明文"
						height={200}
						class="absolute px-5"
					/>
					<div
						class="flex bg-[#E5555F] justify-center items-center w-full mt-[140px] md:mt-[177px] flex-wrap py-10 px-5"
					>
						<div
							class="text-[#FFD618] font-bold w-[340px] text-center"
						>
							<div class="text-4xl">保険料節減相談が</div>
							<div class="text-7xl mt-5">無料！</div>
						</div>
						<div
							class="text-2xl font-bold text-white md:w-[500px] py-5 leading-[40px] md:leading-6"
						>
							保険料節減の無料相談は、広島県・福岡県・岡山県・山口県・大阪府・兵庫県限定です。直接面談･電話･メールなど様々な方法で、無料相談および試算を行っておりますので、ご希望の方法をお申し付けください。まずは下記より受付のご連絡をお願いいたします。
						</div>
					</div>
				</div>

				<div
					id="contact"
					class="text-black w-full text-center py-5 flex flex-col items-center"
				>
					<div class="text-3xl font-black text-[#0588AF]">
						無料相談・お問い合わせ<br />受付フォーム
					</div>
					<div class="text-md mt-5 comment">
						無料相談、お問い合わせは下記フォームに<br
						/>ご入力のうえ、送信をお願いいたします。
					</div>
					<div class="pt-2 mb-4">
						お申込み後に、<br />自動返信メールが届きますので、<br
						/>内容をご確認ください。
					</div>
					<Image
						src={contact02_tel_pc}
						alt="説明文"
						height={100}
						class="px-5"
					/>
					<div
						class="text-sm font-bold text-red-500 leading-6 text-left px-5"
					>
						※お申込みは<br
							class="md:hidden"
						/>広島県・福岡県・岡山県・山口県・大阪府・兵庫県限定です。<br
						/>
						※申し訳ありませんが、年金受給者・無職・会社従業員の方からの相談はお受けできませんのでご了承くださいませ。
					</div>
					<div></div>
				</div>
				<div>
					<MailForm />
				</div>
				<!-- 黒帯 -->
				<div class="bg-[#333333]">
					<div
						class="px-5 flex justify-center gap-10 py-10 flex-wrap"
					>
						<Image src={shaho} alt="説明文" width={390} />
						<Image src={yakuin} alt="説明文" width={390} />
						<Image src={kokuho} alt="説明文" width={390} />
					</div>
				</div>
				<div class="text-xl font-sans text-center my-5 px-5">
					Copyright © ライフコンサルタント株式会社 <br
						class="md:hidden"
					/>All rights reserved.
				</div>
			</div>
		</div>
	</main>

	<style>
		main {
			/* padding: 1rem; */
			/* width: 800px; */
			/* max-width: calc(100% - 2rem); */
			/* color: black; */
			/* font-size: 20px; */
		}
		/* h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	} */
		ul {
			list-style: "-";
		}
		.comment {
			font-family: "Noto Sans JP", "游ゴシック体", YuGothic,
				"游ゴシック Medium", "Yu Gothic Medium", "游ゴシック",
				"Yu Gothic", "メイリオ", sans-serif;
		}

		.triangle-down {
			background: #ffa200;
			height: calc(tan(60deg) * 40px / 2);
			width: 100px;
			clip-path: polygon(0 0, 100% 0, 50% 100%);
		}
		.triangle-right {
			background: #ffa200;
			height: calc(tan(60deg) * 60px / 2);
			width: 15px;
			clip-path: polygon(0 0, 100% 50%, 0 100%);
		}
		.logo_background_white {
			background: linear-gradient(
				180deg,
				#00000000 0%,
				#00000000 80%,
				#fff 80%,
				#fff 100%
			);
		}
	</style>
</Layout>
