---
import Layout from "../layouts/Layout.astro";
import MailForm from "../components/MailForm.astro";
import QuesionItem from "../components/QuesionItem.astro";
import CaseItem from "../components/CaseItem.astro";
import StepItem from "../components/StepItem.astro";
import ContactButton from "../components/ContactButton.astro";
import ReasonItem from "../components/ReasonItem.astro";
import ThreeFeatures from "../components/ThreeFeatures.astro";
import ShahoDietPlan from "../components/ShahoDietPlan.astro";
import SakugenSeikou from "../components/SakugenSeikou.astro";
import Kokuban from "../components/Kokuban.astro";
import Koudo from "../components/Koudo.astro";
import Nayami from "../components/Nayami.astro";
import Aisatu from "../components/Aisatu.astro";
import Voice from "../components/Voice.astro";
import Akusyu from "../components/Akusyu.astro";
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
import logo_sp from "../assets/logo_sp.png";
import kokuho from "../assets/bnn_kokuho_s.jpg";
import shaho from "../assets/bnn_shaho_s.jpg";
import yakuin from "../assets/bnn_yakuin_s.jpg";
import contact02_tel_pc from "../assets/contact02_tel_pc.png";
import offer_01_pc from "../assets/offer_01_pc.png";
// import head_tel_pc from "../assets/head_tel_pc.png";
import head_tel_sp from "../assets/head_tel_sp.png";
import head_email_sp from "../assets/head_email_sp.png";
import person01 from "../assets/person01.png";
// import arrow from "../assets/arrow.png";
import mail from "../assets/mail.png";
---

<Layout title="国保と国民年金の保険料を節減  ライフコンサルタント株式会社">
	<main class="flex flex-col justify-center mb-10 items-center w-full">
		<div class="w-full pt-2">
			<!-- 通常ヘッダー -->

			<!-- <div class=" flex flex-col text-center"> -->
			<div class="flex justify-center">
				<div class="justify-between hidden md:flex md:w-[768px]">
					<div class="flex items-center">
						<Image
							src={logo}
							alt="説明文"
							width="250"
							quality={100}
							format="png"
						/>
					</div>
					<div class="flex text-black text-xs font-bold items-center mb-1.5">
						ご相談は無料です<br />まずはお問い合わせください
					</div>
					<div class="font-black">
						<div class="text-sm">お電話からご予約</div>
						<div class="text-2xl h-[20px] leading-4">
							☎ 082-507-3230
						</div>
						<div class="text-xs">
							ご予約・お問い合わせ：平日 9:00～17:30
						</div>
					</div>
					<div class="flex items-center">
						<button
							type="button"
							class="text-white bg-[#FF8A22] hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-10 md:px-5 py-2.5 text-center"
							>WEBからご予約</button
						>
					</div>
				</div>
			</div>
			<!-- モバイルヘッダー -->
			<div class="flex justify-between md:hidden px-5 my-5">
				<Image src={logo_sp} alt="説明文" width="305" />
				<div>
					<Image src={head_tel_sp} alt="説明文" width="46" />
				</div>
				<div>
					<Image src={head_email_sp} alt="説明文" width="56" />
				</div>
			</div>
			<!-- Top -->
			<div class="hidden md:flex justify-center my-5">
				<div class="flex flex-col">
					<div
						class="text-white font-bold text-xl md:text-2xl py-2 flex-none"
					>
						会社経営者様、社長・役員必見！
					</div>
					<div
						class="flex justify-center mt-5 font-bold text-4xl text-white flex-col"
					>
						<div class="">社会保険料が</div>
						<div class="font-black mb-2">
							年間最大
							<span class="text-[#FAFF00] text-5xl">60</span
							>％以上
						</div>
						<div>節減できます！</div>
					</div>
					<!-- <div class="flex justify-center mt-3">
						<a
							class="text-xl rounded-full bg-[#E5555F] text-white font-bold px-6 md:px-12 py-2 text-center"
							href="#contact">無料相談のお申し込みはこちら</a
						>
					</div> -->
				</div>
				<div class="flex items-end">
					<Image
						src={person01}
						alt="説明文"
						width={150}
						quality={100}
						format="png"
					/>
				</div>
			</div>
			<!-- モバイルトップ -->
			<div class="flex md:hidden flex-col items-center px-3">
				<div class="bg-white text-red-500 font-bold text-xl px-3 py-2">
					個人事業主(フリーランス)の方、必見!
				</div>
				<div class="flex justify-center mt-5">
					<div>
						<div class="font-bold text-3xl">社会保険料が</div>
						<div
							class="text-4xl font-black logo_background_white w-[270px]"
						>
							<span class="text-8xl font-black mt-0">30</span
							>％/年 以上
						</div>
						<div
							class="text-4xl font-bold tracking-[-2px] logo_background_white mb-5"
						>
							安くなります！
						</div>
					</div>
					<div class="flex items-end">
						<Image src={person01} alt="説明文" width={300} />
					</div>
				</div>
				<ContactButton />
			</div>

			
			<Nayami />
			<Koudo />
			<Kokuban />
			<ThreeFeatures />
			<ShahoDietPlan />
			<SakugenSeikou />
			<Voice/>
			<Akusyu />

			<Aisatu />
			<div class="bg-white">
				
				<div class="px-5 flex flex-col items-center py-5">
					<div class="flex flex-col md:flex-row items-center">
						<div
							class="flex-1 text-2xl font-bold text-[#008F8F] border-b-2 md:border-b-0 border-[#008F8F] text-center"
						>
							年間30％以上も安くなる<br />
							「社保コンパクトプラン」とは
						</div>
						<div class="flex-1 font-bold">
							「社保コンパクトプラン」を取り入れていただくことで、社会保険料を<span
								class="text-red-500">年間30％以上</span
							>も節減することができます。<br /><br />
							ご負担は、社会保険料節減開始月から<span
								class="text-red-500"
								>2ヶ年分の社会保険料節減効果額(会社及び役員)の20％(税別)</span
							>。<br /><br />
							その後も効果は続きますが、ご負担は発生しません。<div
								class="text-xs"
							>
								※対象者年齢や諸条件により節減効果は一定ではありません。
							</div>
						</div>
					</div>
					<div class="h-1.5 bg-[#008F8F] w-full"></div>meme
					<div class="font-black text-xl text-center py-5">
						あなたの報酬が高いほど、<br />社会保険料が安くなります。
					</div>
					<div
						class="w-full bg-[#008F8F] text-white text-center py-1 md:w-[600px]"
					>
						導入後のシミュレーション
					</div>
					<div
						class="rounded-lg border-4 border-[#008F8F] my-2 w-full md:w-[600px]"
					>
						<table class="w-full text-base md:text-lg">
							<thead class="table-auto">
								<tr class="rounded-lg text-[#008F8F]">
									<th
										class="border-b-2 border-r-2 border-[#008F8F]"
										>あなたの報酬<br
											class="md:hidden"
										/>(月額)</th
									>
									<th
										class="border-b-2 border-r-2 border-[#008F8F]"
										>社会保険料<br
											class="md:hidden"
										/>（年間）</th
									>
									<th
										class="border-b-2 border-r-2 border-[#008F8F]"
										>節減差額<br
											class="md:hidden"
										/>（合計）</th
									>
									<th class="border-b-2 border-[#008F8F]"
										>節減率</th
									>
								</tr>
							</thead>
							<tbody class="text-right font-bold">
								<tr>
									<td
										class="border-r-2 border-b-2 border-[#008F8F]"
										>30万円</td
									>
									<td
										class="border-r-2 border-b-2 border-[#008F8F]"
										>1,083,600円</td
									>
									<td
										class="border-r-2 border-b-2 border-[#008F8F] text-red-500"
										>-361,200円</td
									>
									<td
										class="border-b-2 border-[#008F8F] text-red-500"
										>-33.3％</td
									>
								</tr>
								<tr>
									<td
										class="border-r-2 border-b-2 border-[#008F8F]"
										>50万円</td
									>
									<td
										class="border-r-2 border-b-2 border-[#008F8F]"
										>1,806,000円</td
									>
									<td
										class="border-r-2 border-b-2 border-[#008F8F] text-red-500"
										>-794,640円</td
									>
									<td
										class="border-b-2 border-[#008F8F] text-red-500"
										>-44.0％</td
									>
								</tr>
								<tr>
									<td
										class="border-r-2 border-b-2 border-[#008F8F]"
										>80万円</td
									>
									<td
										class="border-r-2 border-b-2 border-[#008F8F]"
										>2,480,160円</td
									>
									<td
										class="border-r-2 border-b-2 border-[#008F8F] text-red-500"
										>-1,257,684円</td
									>
									<td
										class="border-b-2 border-[#008F8F] text-red-500"
										>-50.7％</td
									>
								</tr>
								<tr>
									<td
										class="border-r-2 border-b-2 border-[#008F8F]"
										>100万円</td
									>
									<td
										class="border-r-2 border-b-2 border-[#008F8F]"
										>2,749,200円</td
									>
									<td
										class="border-r-2 border-b-2 border-[#008F8F] text-red-500"
										>-1,523,184円</td
									>
									<td
										class="border-b-2 border-[#008F8F] text-red-500"
										>-55.4％</td
									>
								</tr>
								<tr>
									<td class="border-r-2 border-[#008F8F]"
										>120万円</td
									>
									<td class="border-r-2 border-[#008F8F]"
										>3,074,880円</td
									>
									<td
										class="border-r-2 border-[#008F8F] text-red-500"
										>-1,848,864円</td
									>
									<td class="text-red-500">-60.1％</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="bg-[#0488AF] py-5">
					<div class="text-white text-xl font-bold text-center">
						私たちの<br />
						「社保コンパクトプラン」が選ばれる<br
							class="md:hidden"
						/>７つの理由
					</div>
					<div
						class="px-5 py-10 flex flex-col md:flex-row md:justify-center md:flex-wrap gap-3"
					>
						<ReasonItem no="1">
							社会保険料が30％以上 /年安くなります
						</ReasonItem>

						<ReasonItem no="2">
							手元の資金を増やすことで、事業財務と経営が改善されます
						</ReasonItem>
						<ReasonItem no="3">
							規定変更などの面倒な手続きはありません
						</ReasonItem>
						<ReasonItem no="4">
							オーナー・役員・従業員の年収を下げる必要はありません
						</ReasonItem>
						<ReasonItem no="5">
							所得税、住民税、消費税、事業税を節減できるケースがあります
						</ReasonItem>
						<ReasonItem no="6">個人の手取りが増えます</ReasonItem>
						<ReasonItem no="7">
							現在の税理士や社会保険労務士の承諾なく完成します
						</ReasonItem>
					</div>
					<div
						class="text-white text-left md:text-center text-2xl md:text-sm px-5 leading-9 comment mb-5"
					>
						この「社保コンパクトプラン」は、<br
							class="md:hidden"
						/>小手先のテクニックで目先の固定費を節減するだけではありません。<br
						/>
						真の目的は経営のために個人の手取りを増やし、資金を最大化すること。<br
						/>
						すなわち財務の健全化なのです。<br /><br />
						私たちは常に向上心と情熱を持ち続ける自営業主様を全力で応援します。<br
						/>
						今のまま高額な保険料を納付し続けるか、<br
							class="md:hidden"
						/>もしくは合法的に節減するのか、是非、無料相談にお申込みください。
					</div>
					<ContactButton />
				</div>
				<!-- ご相談内容 -->
				<div class="my-5">
					<div class="px-5 flex flex-col items-center">
						<Image src={mail} alt="説明文" width={78} />
						<div
							class="text-[#0488AF] font-black text-3xl text-center"
						>
							私たちに寄せられた<br
								class="md:hidden"
							/>切実なご相談
						</div>
						<div class="font-bold">
							当社への相談内容についてご紹介します。
						</div>
						<div class="flex flex-col items-center">
							<h1
								class="bg-[#008F8F] text-white text-center px-10 py-2 text-2xl comment w-[200px] absolute"
							>
								ご相談内容
							</h1>
							<div
								class="md:text-lg md:w-[600px] border-4 rounded-lg bg-white border-[#008F8F] mt-[20px] pt-10 p-5 text-[#008F8F] font-bold"
							>
								私は43歳で薬の卸業をしています。<br /><br />
								現在、報酬は月額230万円に設定していますが、 個人の社会保険料は約284万円です。<br
								/><br />
								娘は大学進学を控えていて、妻との余生も考えると、
								保険料が高くなっていくことに不安を感じています。
							</div>
							<div class="comment text-lg leading-8">
								このようなご相談でした。<br /><br />
								お客様が関与税理士に相談したところ、<br />
								「ガンバって所得を今の倍にしましょう」<br />
								「社会保険料は上限があるのでそれ以上は上がりませんよ」とのことでした。<br
								/><br />
								その税理士の回答に、あきれ返ったお客様が当社に相談されたのも無理はありません。<br
								/><br />
								相談者は事業に対して情熱的で大変前向きな方でした。<br
								/>
								お客様を想う気持ちも人一倍。とはいえ、今のままでは保険料が負担になり、<br
								/>
								生活や事業存続にも支障をきたします。<br /><br />
								そこで私は、社保コンパクトプランのポイントとスキームを説明させていただきました。すると「節減額はもちろん、それ以上にメリットも大いに期待できるので
								是非導入したい」とのお言葉をいただけたのです。
							</div>
							<div
								class="bg-[#FFF5EB] px-5 py-8 font-bold text-xl"
							>
								導入後は合法的に<br />
								社会保険料が124万円/年まで下がりました。<br />
								負担額は２ヶ年分の節減効果額（会社及び役員）の20％（税別）で、<br
								/>
								コンサルティング報酬は導入初年度のみ。<br />
								結果、160万円/年節減できました。
							</div>
							<div>
								※対象者年齢や諸条件により節減効果は一定ではありません。<br
								/>
								※ コンサルティング報酬は節減策導入時(初年度)のみで、導入後の報酬は不要です。1度導入すれば節減効果は永続します。<br
								/>
								※ コンサルティング報酬は会社規模、対象者数により変動します。
							</div>
							<ContactButton />
						</div>
					</div>
				</div>
				<!-- 社保コンパクトプラン -->
				<div class="bg-yellow-500">
					<div class="px-5 flex flex-col items-center py-10">
						<div class="font-bold text-2xl">
							壮大なご指示をいただいている
						</div>
						<div class="font-bold text-3xl mb-5">
							「社保コンパクトプラン」
						</div>
						<div class="comment leading-7">
							ライフコンサルタント株式会社の徳永吉一と申します。
							私たちは自営業主様が抱える課題や問題を解決し、
							改善に向けサポートさせていただくことを生業としております。<br
							/><br />
							自営業主様は必死に経営をされています。 自力で事業を発展させるためには、
							徹底的にムダを省き手元の資金を最大化することは必要不可欠のはずです。<br
							/>
							しかし、<br />
							現在インターネット上や書籍に掲載されている安易な保険料節減情報は、
						</div>
						<div class="bg-white font-black px-10 py-5">
							１　誰もが知っているありきたりな対策<br />
							２　高度過ぎて使えない対策<br />
							３　そもそも使い物にならない対策
						</div>

						<div class="comment leading-7 mb-5">
							のいずれかです。
							必死に経営に臨んでいる自営業主様にとっては、物足りない代物ではないでしょうか。<br
							/><br />
							しかし、私たちが提唱する社保コンパクトプランは別物です。
							世の中には効果的で高度な節減方法がたくさん存在しています。
							そして聡明な自営業主様はこっそり実行しているのです。<br
							/><br />
							私たちは、この社保コンパクトを通じて事業の信用向上に貢献できます。
							そして更に事業が発展するよう全力でサポートします。 それが私の使命です。共感いただける方は以下もご精読くださいませ。<br
							/><br />
							もし私たちの取り組みにご賛同いただければ、無料相談にお申込みください。
							きっとご満足いただける結果となるでしょう。
						</div>
						<ContactButton />
					</div>
				</div>

				<div class="bg-blue-500 px-5 py-10 flex flex-col items-center">
					<div>
						この国社スマートプランをご利用のお客様から、たくさんの嬉しいお声をいただいています。その一部をご紹介します。
					</div>
					<div class="w-full flex gap-5 flex-wrap justify-center">
						<CaseItem caseNo="01" title="" subtitle="" text="" />
						<CaseItem caseNo="02" title="" subtitle="" text="" />
						<CaseItem caseNo="03" title="" subtitle="" text="" />
					</div>

					<ContactButton />
				</div>
				<div class="bg-[#FFD519] px-5 py-10">
					<div class="font-black text-center text-xl leading-[50px]">
						国民健康保険＋国民年金の<br />保険料節減までの流れ
					</div>
					<div class="flex flex-col md:flex-row gap-5 items-center">
						<StepItem stepNo="01"
							>無料相談の<br />お申し込み</StepItem
						>
						<div class="triangle-down md:hidden"></div>
						<div class="triangle-right hidden md:block w-40"></div>
						<StepItem stepNo="02"
							><div>
								無料相談<br /><span class="text-sm md:text-xs"
									>(直接面談・電話・メール可)</span
								>
							</div></StepItem
						>

						<div class="triangle-down md:hidden"></div>
						<div class="triangle-right hidden md:block w-40"></div>
						<StepItem stepNo="03"
							>無料相談の結果報告・試算・社保コンパクトプランのご提案</StepItem
						>

						<div class="triangle-down md:hidden"></div>
						<div class="triangle-right hidden md:block w-40"></div>
						<StepItem stepNo="04"
							>導入決定・導入サポート・継続サポート</StepItem
						>
					</div>
				</div>
				<div class="flex flex-col py-10 items-center px-5">
					<div class="text-5xl font-black text-[#0088af] py-2">
						費用について
					</div>
					<div class="text-xl font-bold">お客様の負担額は</div>
					<div class="text-2xl font-bold text-[#E5555F] my-1">
						約<span class="text-7xl">38,000</span>円/月
					</div>
					<div class="font-bold text-xl mt-5">のみです。</div>
					<div class="text-2xl">
						上記負担額には、お客様ご自身とご家族の保険料や当社事務手数料など全て含まれています。
					</div>
					<ul
						class="text-xl font-bold md:w-[380px] leading-[40px] mt-4"
					>
						<li>導入時の契約金、導入手数料は不要！</li>
						<li>導入後の維持管理料、更新手数料は不要！</li>
						<li>解約費用、退会手数料は不要！</li>
					</ul>

					<ContactButton />
				</div>
				<div
					class="border-[5px] border-[#0588AF] rounded-md py-10 px-10 mx-5"
				>
					<div class="text-[#0088af] font-black text-center text-3xl">
						よくあるご質問
					</div>
					<QuesionItem
						question="法的に問題はありませんか"
						anser="はい、全く問題ありません。各管轄省庁から全て回答を得て、通達に沿った方策ですので、心配ご無用です。"
					/>
				</div>
				<div class="flex flex-col items-center">
					<Image
						src={offer_01_pc}
						alt="説明文"
						height={200}
						class="absolute px-5"
					/>
					<div
						class="flex bg-[#E5555F] justify-center items-center w-full mt-[160px] flex-wrap py-10 px-5"
					>
						<div
							class="text-[#FFD618] font-bold w-[340px] text-center"
						>
							<div class="text-4xl">保険料節減相談が</div>
							<div class="text-7xl mt-5">無料！</div>
						</div>
						<div
							class="text-2xl font-bold text-white md:w-[600px] py-5 leading-10"
						>
							保険料節減の無料相談は、広島県・福岡県・岡山県・山口県・大阪府・兵庫県限定です。直接面談･電話･メールなど様々な方法で、無料相談および試算を行っておりますので、ご希望の方法をお申し付けください。まずは下記より受付のご連絡をお願いいたします。
						</div>
					</div>
				</div>

				<div
					id="contact"
					class="text-black w-full text-center py-5 flex flex-col items-center"
				>
					<div class="text-3xl font-black text-[#0588AF]">
						無料相談・お問い合わせ<br />受付フォーム
					</div>
					<div class="text-md mt-5 comment">
						無料相談、お問い合わせは下記フォームに<br
						/>ご入力のうえ、送信をお願いいたします。
					</div>
					<div class="pt-2 mb-4">
						お申込み後に、<br
							class="md:hidden"
						/>自動返信メールが届きますので、<br
							class="md:hidden"
						/>内容をご確認ください。
					</div>
					<Image
						src={contact02_tel_pc}
						alt="説明文"
						height={100}
						class="px-5"
					/>
					<div
						class="text-sm font-bold text-red-500 leading-6 text-left px-5"
					>
						※お申込みは<br
							class="md:hidden"
						/>広島県・福岡県・岡山県・山口県・大阪府・兵庫県限定です。<br
						/>
						※申し訳ありませんが、年金受給者・無職・会社従業員の方からの相談はお受けできませんのでご了承くださいませ。
					</div>
					<div></div>
				</div>
				<div>
					<MailForm />
				</div>
				<!-- 黒帯 -->
				<div class="bg-[#333333]">
					<div
						class="px-5 flex justify-center gap-10 py-10 flex-wrap"
					>
						<Image src={shaho} alt="説明文" width={210} />
						<Image src={yakuin} alt="説明文" width={210} />
						<Image src={kokuho} alt="説明文" width={210} />
					</div>
				</div>
				<div class="text-xl font-sans text-center my-5 px-5">
					Copyright © ライフコンサルタント株式会社 <br
						class="md:hidden"
					/>All rights reserved.
				</div>
			</div>
		</div>
	</main>

	<style>
		main {
			/* padding: 1rem; */
			/* width: 800px; */
			/* max-width: calc(100% - 2rem); */
			/* color: black; */
			/* font-size: 20px; */
		}
		/* h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	} */
		ul {
			list-style: "-";
		}
		.comment {
			font-family: "Noto Sans JP", "游ゴシック体", YuGothic,
				"游ゴシック Medium", "Yu Gothic Medium", "游ゴシック",
				"Yu Gothic", "メイリオ", sans-serif;
		}

		.triangle-down {
			background: #ffa200;
			height: calc(tan(60deg) * 40px / 2);
			width: 100px;
			clip-path: polygon(0 0, 100% 0, 50% 100%);
		}
		.triangle-right {
			background: #ffa200;
			height: calc(tan(60deg) * 60px / 2);
			width: 15px;
			clip-path: polygon(0 0, 100% 50%, 0 100%);
		}
		.logo_background_white {
			background: linear-gradient(
				180deg,
				#00000000 0%,
				#00000000 80%,
				#fff 80%,
				#fff 100%
			);
		}
	</style>
</Layout>
