---
import Layout from "../layouts/Layout.astro";
import MailForm from "../components/MailForm.astro";
import QuesionItem from "../components/QuesionItem.astro";
import ContactButton from "../components/ContactButton.astro";
import ThreeFeatures from "../components/ThreeFeatures.astro";
import ShahoDietPlan from "../components/ShahoDietPlan.astro";
import SakugenSeikou from "../components/SakugenSeikou.astro";
import Dounyuu from "../components/Dounyuu.astro";
import Header from "../components/Header.astro";
import Kokuban from "../components/Kokuban.astro";
import Koudo from "../components/Koudo.astro";
import Nayami from "../components/Nayami.astro";
import Aisatu from "../components/Aisatu.astro";
import Voice from "../components/Voice.astro";
import Akusyu from "../components/Akusyu.astro";
import { Image } from "astro:assets";
import kokuho from "../assets/bnn_kokuho_s.jpg";
import shaho from "../assets/bnn_shaho_s.jpg";
import yakuin from "../assets/bnn_yakuin_s.jpg";
import contact02_tel_pc from "../assets/contact02_tel_pc.png";
import offer_01_pc from "../assets/offer_01_pc.png";
---

<Layout title="社会保険料を効果的に節減 みらいマップ株式会社">
	<main class="flex flex-col justify-center items-center w-full">
		<div class="w-full pb-2">
			<Header />
			<Nayami />
			<Koudo />
			<Kokuban />
			<ThreeFeatures />
			<ShahoDietPlan />
			<SakugenSeikou />
			<Voice />
			<Akusyu />
			<Aisatu />
			<Dounyuu />
			<div class="bg-white">
				<div class="flex flex-col items-center">
					<div class="md:w-[768px]">
						<div
							class="border-[5px] border-[#0588AF] rounded-md py-10 px-2 sm:px-10 mx-5 mb-10 bg-[#E9F6FD]"
						>
							<div
								class="text-[#0088af] font-black text-center text-3xl"
							>
								よくあるご質問
							</div>
							<hr class="h-0.5 my-2 bg-[#0588AF]" />
							<QuesionItem
								question="この社会保険料節減策は合法ですか？"
								anser="はい、当社の提案する節減策は完全合法です。日本年金機構や税務署もこの手法を認識していますので、法的な心配は不要です。"
							/>
							<QuesionItem
								question="この節減策がプライバシーや企業の信用に影響を与えることはありませんか？"
								anser="当社はお客様の情報を厳重に管理し、すべての業務を法律に則って行います。お客様の情報を外部に漏らすことはありませんので、企業の信用やブランドに悪影響を与えることはありません。"
							/>
							<QuesionItem
								question="日本年金機構や税務署から調査があった場合、どう対応すれば良いですか？"
								anser="当社の節減策は日本年金機構や税務署にも認知されているため、特別な対応は必要ありません。調査があっても全く問題にはなりません。"
							/>
							<QuesionItem
								question="従業員にも節減策を導入できますか？"
								anser="特定の条件を満たす従業員にも導入可能ですが、主には会社役員を対象とした節減策です。適用条件について詳しく知りたい場合はお問い合わせください。"
							/>
							<QuesionItem
								question="会社を設立したばかりでも、この節減策を導入できますか？"
								anser="会社設立後、社会保険の適用を申請すれば、その初年度から節減策を導入できます。"
							/>
							<QuesionItem
								question="将来の厚生年金受給額はどう影響を受けますか？"
								anser="本節減策を導入することで、将来の厚生年金受給額は減額される可能性があります。ただし、導入後の社会保険料節減額は厚生年金の減額分を大きく上回るため、結果的にはより多くの経済的利益を享受できます。"
							/>
							<QuesionItem
								question="節減策の導入期間に制限はありますか？"
								anser="いいえ、導入に制限や期限はありません。一度導入すれば、その効果は継続します。もし、以前の状態に戻したい場合は簡単に導入前に戻せます。"
							/>
						</div>
					</div>
				</div>
				<ContactButton />
				<div
					class="text-[#008F8F] text-center font-bold text-lg sm:text-xl py-14"
				>
					さあ、一歩を踏み出しましょう。<br /><br />
					社会保険料の節減は、企業経営において<br />
					大きなメリットをもたらします。<br /><br />
					当社のサービスに少しでも興味をお持ちで、<br />
					さらなる情報や無料相談をご希望の方は<br />
					お気軽にお問い合わせください。<br /><br />
					あなたのビジネスをサポートできるチャンスを、<br />
					私たちは心から楽しみにしています。
				</div>
			</div>
			<div class="bg-white">
				<div class="flex flex-col items-center">
					<Image
						src={offer_01_pc}
						alt="説明文"
						height={200}
						class="absolute px-5"
					/>
					<div
						class="flex bg-[#E5555F] justify-center items-center w-full mt-[160px] flex-wrap py-10 px-5"
					>
						<div
							class="text-[#FFD618] font-bold w-[340px] text-center"
						>
							<div class="text-4xl">保険料節減相談が</div>
							<div class="text-7xl mt-5">無料！</div>
						</div>
						<div
							class="text-2xl font-bold text-white md:w-[600px] py-5 leading-10"
						>
							保険料節減の無料相談は、広島県・福岡県・岡山県・山口県・大阪府・兵庫県限定です。直接面談･電話･メールなど様々な方法で、無料相談および試算を行っておりますので、ご希望の方法をお申し付けください。まずは下記より受付のご連絡をお願いいたします。
						</div>
					</div>
				</div>
			</div>
			<div class="bg-white">
				<div
					id="contact"
					class="contaner text-black text-center py-5 flex flex-col justify-center items-center"
				>
					<div class="text-3xl font-black text-[#0588AF]">
						無料相談・お問い合わせ<br />受付フォーム
					</div>
					<div class="text-md mt-5 comment">
						無料相談、お問い合わせは下記フォームに<br
						/>ご入力のうえ、送信をお願いいたします。
					</div>
					<div class="pt-2 mb-4">
						お申込み後に、<br
							class="md:hidden"
						/>自動返信メールが届きますので、<br
							class="md:hidden"
						/>内容をご確認ください。
					</div>
					<Image
						src={contact02_tel_pc}
						alt="説明文"
						height={100}
						class="px-5"
					/>
					<div
						class="text-sm font-bold text-red-500 leading-6 text-left px-5"
					>
						※お申込みは<br
							class="md:hidden"
						/>広島県・福岡県・岡山県・山口県・大阪府・兵庫県限定です。<br
						/>
						※申し訳ありませんが、年金受給者・無職・会社従業員の方からの相談はお受けできませんのでご了承くださいませ。
					</div>
				</div>
			</div>
			<div class="bg-white flex justify-center flex-col items-center">
				<MailForm />
				<div class="bg-[#333333] w-full">
					<div
						class="px-5 flex justify-center gap-10 py-10 flex-wrap"
					>
						<a href="https://mirai-map.jp/lp-syaho/">
							<Image src={shaho} alt="説明文" width={210} /></a
						><a href="#">
							<Image src={yakuin} alt="説明文" width={210} /></a
						><a href="https://mirai-map.jp/lp2208/">
							<Image src={kokuho} alt="説明文" width={210} /></a
						>
					</div>
				</div>
				<div class="text-xl font-sans text-center mt-5 mb-8 px-5">
					Copyright © みらいマップ株式会社 <br
						class="md:hidden"
					/>All rights reserved.
				</div>
			</div>
		</div>
	</main>

	<style>
		main {
			/* padding: 1rem; */
			/* width: 800px; */
			/* max-width: calc(100% - 2rem); */
			/* color: black; */
			/* font-size: 20px; */
		}
		/* h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	} */
		ul {
			list-style: "-";
		}
		.comment {
			font-family: "Noto Sans JP", "游ゴシック体", YuGothic,
				"游ゴシック Medium", "Yu Gothic Medium", "游ゴシック",
				"Yu Gothic", "メイリオ", sans-serif;
		}

		.triangle-down {
			background: #ffa200;
			height: calc(tan(60deg) * 40px / 2);
			width: 100px;
			clip-path: polygon(0 0, 100% 0, 50% 100%);
		}
		.triangle-right {
			background: #ffa200;
			height: calc(tan(60deg) * 60px / 2);
			width: 15px;
			clip-path: polygon(0 0, 100% 50%, 0 100%);
		}
		.logo_background_white {
			background: linear-gradient(
				180deg,
				#00000000 0%,
				#00000000 80%,
				#fff 80%,
				#fff 100%
			);
		}
	</style>
</Layout>
