---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
import kokuho from "../assets/bnn_kokuho_s.jpg";
import shaho from "../assets/bnn_shaho_s.jpg";
import yakuin from "../assets/bnn_yakuin_s.jpg";
import contact02_tel_pc from "../assets/contact02_tel_pc.png";
import offer_01_pc from "../assets/offer_01_pc.png";
---

<Layout title="国保と国民年金の保険料を節減  ライフコンサルタント株式会社">
	<main class="flex flex-col justify-center mb-10">
		<div class="flex justify-between">
			<div class="flex items-center">
				<Image src={logo} alt="説明文" width="311" />
			</div>
			<div class="flex text-black text-sm font-bold items-center">
				ご相談は無料です<br />まずはお問い合わせください
			</div>
			<div>
				<Image
					src="https://life-consultant-hiroshima.com/lp2208/common/img/head_tel_pc.png"
					alt="説明文"
					width="216"
					height="59"
				/>
			</div>
			<div class="flex items-center">
				<button
					type="button"
					class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-10 py-2.5 text-center"
					>WEBからご予約</button
				>
			</div>
		</div>
		<div class="bg-white rounded-lg px-5 py-3 flex flex-col items-center w-[350px] h-[380px]">
			<div class="border-b-[2px] border-indigo-500 font-bold ">case <span class="text-lg">01</span></div>
			<div class="font-bold text-xl">飲食店をされている経営者様</div>
			<div class="text-lg bg-yellow-400 font-bold px-3 mt-1">90万円/年節減</div>
			<div class="mt-3 comment leading-7">毎年高い国保＋国民年金の保険料には頭を抱えていましたが、導入後は夫婦で合わせて90万円/年も節減でき、今は保険料を一本化し40数万円/年で大変楽になりました。また話を進めていくうちに所得税も下がることが分かり、大満足です。同時に商売に打ち込める環境も整い、大変感謝しています。効果が継続する割にはコストが控え目だなと思いました。</div>
		</div>
		<div class="flex flex-col py-10 items-center">
			<div class="text-3xl font-black text-[#0088af] py-2">費用について</div>
			<div class="text-xl font-bold">お客様の負担額は</div>
			<div class="text-4xl font-bold text-[#E5555F] my-2">約<span class="text-6xl">38,000</span>円/月</div>
			<div class="font-bold text-xl">のみです。</div>
			<div class="text-md">
				上記負担額には、お客様ご自身とご家族の保険料や当社事務手数料など全て含まれています。
			</div>
			<ul class="text-xs font-bold w-[230px] leading-6 mt-4">
				<li>導入時の契約金、導入手数料は不要！</li>
				<li>導入後の維持管理料、更新手数料は不要！</li>
				<li>解約費用、退会手数料は不要！</li>
			</ul>
			<a
				class="text-2xl rounded-full bg-[#E5555F] text-white font-bold px-12 py-4 my-5"
				href="#contact">無料相談のお申し込みはこちら</a
			>
		</div>
		<div class="border-[5px] border-[#0588AF] rounded-md py-10 px-10">
			<div class="text-[#0088af] font-black text-center text-3xl">
				よくあるご質問
			</div>
			<div class="divide-y divide-gray-100">
				<details class="group">
					<summary
						class="flex cursor-pointer list-none items-center justify-between py-4 text-lg font-medium text-secondary-900 group-open:text-primary-500"
					>
						<div class="font-bold">
							<span class="text-[#FF0000] text-xl">Q</span>
							法的に問題はありませんか？
						</div>

						<div>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 24 24"
								stroke-width="6"
								stroke="currentColor"
								class="block h-5 w-5 group-open:hidden"
							>
								<path
									stroke="#0588AF"
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M12 4.5v15m7.5-7.5h-15"></path>
							</svg>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 24 24"
								stroke-width="6"
								stroke="currentColor"
								class="hidden h-5 w-5 group-open:block"
							>
								<path
									stroke="#0588AF"
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M19.5 12h-15"></path>
							</svg>
						</div>
					</summary>
					<div class="flex pb-4 text-secondary-500 gap-4">
						<div class="text-[#0588AF] text-2xl font-bold pt-1">
							A
						</div>
						<div class="font-sans">
							はい、全く問題ありません。<br
							/>各管轄省庁から全て回答を得て、通達に沿った方策ですので、心配ご無用です。
						</div>
					</div>
				</details>
				<hr class="h-0.5 my-3 bg-[#0588AF]" />
			</div>
		</div>
		<div class="flex flex-col items-center">
			<Image
				src={offer_01_pc}
				alt="説明文"
				height={167}
				class="absolute"
			/>
			<div
				class="flex bg-[#E5555F] justify-center items-center w-full mt-[147px] flex-wrap py-10"
			>
				<div class="text-[#FFD618] font-bold w-[400px] text-center">
					<div class="text-3xl">保険料節減相談が</div>
					<div class="text-4xl">無料！</div>
				</div>
				<div class="text-white w-[500px] py-5  leading-6">
					保険料節減の無料相談は、広島県・福岡県・岡山県・山口県・大阪府・兵庫県限定です。直接面談･電話･メールなど様々な方法で、無料相談および試算を行っておりますので、ご希望の方法をお申し付けください。まずは下記より受付のご連絡をお願いいたします。
				</div>
			</div>
		</div>

		<div id="contact" class="text-black w-full text-center py-5 flex flex-col items-center">
			<div class="text-4xl font-black text-[#0588AF]">
				無料相談・お問い合わせ<br />受付フォーム
			</div>
			<div class="text-md mt-5 comment">
				無料相談、お問い合わせは下記フォームに<br>ご入力のうえ、送信をお願いいたします。
			</div>
			<div class="pt-2 mb-4">
				お申込み後に、<br>自動返信メールが届きますので、<br>内容をご確認ください。
			</div>
			<Image src={contact02_tel_pc} alt="説明文" height={100} />
			<div class="text-sm font-bold text-red-500 leading-6">
				※お申込みは<br class="md:hidden">広島県・福岡県・岡山県・山口県・大阪府・兵庫県限定です。<br
				/>
				※申し訳ありませんが、年金受給者・無職・会社従業員の方からの相談はお受けできませんのでご了承くださいませ。
			</div>
			<div></div>
			<div class="text-sm font-bold text-red-500">
				※は入力必須項目です。
			</div>
		</div>
		<div class="flex justify-center gap-10 bg-[#333333] py-10 flex-wrap">
			<Image src={shaho} alt="説明文" width={195} />
			<Image src={yakuin} alt="説明文" width={195} />
			<Image src={kokuho} alt="説明文" width={195} />
		</div>
		<div class="text-sm font-sans text-center my-5">
			Copyright © ライフコンサルタント株式会社 All rights reserved.
		</div>
	</main>
</Layout>

<style>
	main {
		/* padding: 1rem; */
		/* width: 800px; */
		/* max-width: calc(100% - 2rem); */
		/* color: black; */
		/* font-size: 20px; */
	}
	/* h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	} */
	ul {
		list-style: "-";
	}
	.comment {
		font-family: 'Noto Sans JP', '游ゴシック体', YuGothic, "游ゴシック Medium", "Yu Gothic Medium", '游ゴシック', "Yu Gothic", 'メイリオ', sans-serif;
	}
</style>
