---
import { Image } from "astro:assets";
import person02 from "../assets/person02.png";
import lead_check_sp from "../assets/lead_check_sp.png";
---

<!-- こんな悩み -->
<div class="bg-white flex flex-col items-center text-xl w-full py-7">
	<div class="container flex flex-col md:flex-row text-center flex-1 justify-center">
		<div class="flex flex-col items-center">
			<div class="text-[#008F8F] font-bold">Any troubles? Problems?</div>
			<div class="text-[#BA2644] font-bold text-2xl mb-3">
				こんな悩みや不満はありませんか？
			</div>
			<Image src={person02} alt="説明文" width={70} />
		</div>
		<div
			class="font-bold leading-8 text-lg  md:text-base px-8 pt-4 flex flex-col gap-3"
		>
			<div class="flex">
				<div>
					<Image src={lead_check_sp} alt="説明文" height="24" />
				</div>社会保険料が高すぎる
			</div>

			<div class="flex">
				<div>
					<Image src={lead_check_sp} alt="説明文" height="24" />
				</div>役員報酬を上げても手取額が増えない
			</div>

			<div class="flex">
				<div>
					<Image src={lead_check_sp} alt="説明文" height="24" />
				</div>経費を削減して利益を増大させたい
			</div>

			<div class="flex">
				<div>
					<Image src={lead_check_sp} alt="説明文" height="24" />
				</div>老後に充分な年金はもらえない
			</div>

			<div class="flex">
				<div>
					<Image src={lead_check_sp} alt="説明文" height="24" />
				</div>
				<div>貯蓄を増やす余地を作りたい</div>
			</div>
		</div>
	</div>
</div>
